.header{
    position: absolute;
    top: 0;
    height: 64px;
    padding: 16px 128px;
    display: flex;
    align-items: center;

}
.header h1 {
    font-size: 24px;
    margin-left: 16px;
    font-weight: 600;
}
.header h1 span{
    color: #FF144D;
}


@media screen and (max-width: 1300px) {
    .header{
        padding: 16px 64px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        padding: 16px 32px;
    }
}